                * {
                    margin: 0;
                    padding: 0;
                    font-family: Arial;
                    text-decoration: none;
                }
                
                body {
                    margin: 0;
                    background-color: #082742;
                    position: relative;
                }
                
                nav {
                    height: 100px;
                    width: 80%;
                    margin: auto;
                }
                
                label.logo {
                    font-size: 35px;
                    line-height: 80px;
                    font-weight: bolder;
                    background-color: white;
                    border-radius: 10px;
                    color: #082742;
                    padding: 5px 10px;
                    letter-spacing: 2px;
                    box-shadow: 0px 10px 30px #242526;
                }
                
                nav ul {
                    float: right;
                    margin-right: 20px;
                }
                
                nav ul li {
                    display: inline-block;
                    line-height: 80px;
                    margin: 0 5px;
                }
                
                nav ul li a {
                    color: white;
                    font-size: 17px;
                    padding: 10px;
                    border-radius: 10px;
                    font-weight: bold;
                }
                
                nav ul li a:hover {
                    background-color: #0f4c81;
                }
                
                .checkbtn {
                    font-size: 30px;
                    color: white;
                    float: right;
                    line-height: 80px;
                    margin-right: 40px;
                    cursor: pointer;
                    display: none;
                }
                
                #check {
                    display: none;
                }
                
                section {
                    text-align: center;
                    margin: auto;
                }
                
                .container {
                    border: 5px solid #041421;
                    width: 80%;
                    margin: auto;
                    box-shadow: 0px 10px 30px #242526;
                }
                
                .box {
                    display: inline-block;
                    padding: 40px 0px 0px 10px;
                }
                
                .content {
                    display: inline-block;
                    color: rgb(58, 228, 58);
                }
                
                .content h1 {
                    font-size: 40px;
                    margin: 20px;
                }
                
                .content a {
                    display: inline-block;
                }
                
                .content img {
                    height: 50px;
                    width: 50px;
                    transition: 1s;
                }
                
                .content img:hover {
                    background-color: #989da1;
                }
                
                .image {
                    transform: rotate(45deg);
                    background-color: #041421;
                    border-radius: 10px;
                    height: 250px;
                    width: 250px;
                    margin: 30px;
                    box-shadow: 0px 0px 40px 0px #49fb35;
                    overflow: hidden;
                }
                
                .image img {
                    height: 280px;
                    width: 220px;
                    margin-top: -20px;
                    transform: rotate(-45deg);
                    border: 2px solid #49fb35;
                    overflow: hidden;
                }
                
                button {
                    margin-top: 20px;
                    padding: 10px;
                    border-radius: 10px;
                    width: 200px;
                    background-color: #2c3e50;
                    color: whitesmoke;
                    font-weight: bold;
                    font-size: 15px;
                    letter-spacing: 2px;
                    transition: 1s;
                }
                
                button:hover {
                    background-color: #49fb35;
                }
                
                h1 {
                    color: whitesmoke;
                }
                
                footer h3 {
                    display: inline-block;
                    padding: 10px 50px;
                }
                
                footer {
                    color: whitesmoke;
                    display: flex;
                    justify-content: space-between;
                    padding: 20px;
                }
                
                @media (max-width: 952px) {
                    label.logo {
                        font-size: 30px;
                        letter-spacing: 2px;
                    }
                    nav ul li a {
                        font-size: 16px;
                    }
                }
                
                @media (max-width: 858px) {
                    .checkbtn {
                        display: block;
                    }
                    ul {
                        position: fixed;
                        width: 100%;
                        height: 350px;
                        background: #2c3e50;
                        left: -100%;
                        text-align: center;
                        transition: all .5s;
                    }
                    nav ul li {
                        display: block;
                        margin: 50px 0;
                        line-height: 20px;
                    }
                    nav ul li a {
                        font-size: 15px;
                    }
                    a:hover {
                        background: none;
                        color: #0082e6;
                    }
                    #check:checked~ul {
                        left: 0;
                    }
                }
                
                .vid {
                    text-align: center;
                }
                
                .videos {
                    display: inline-block;
                    padding: 20px;
                }
                
                .myself {
                    display: flex;
                }
                
                .inline {
                    flex: 33.33%;
                    padding: 5px;
                    width: 80%;
                    margin: auto;
                    text-align: center;
                }
                
                .inline p {
                    width: 90%;
                    margin: auto;
                    text-align: justify;
                    color: white;
                }
                
                img {
                    height: 350px;
                    width: 350px;
                }
                
                .about h1 {
                    padding: 30px 100px;
                }
                
                .about {
                    padding-top: 90px;
                    width: 90%;
                    margin: auto;
                }
                
                .skillbox {
                    display: flex;
                    margin: auto;
                }
                
                .skills {
                    width: 100%;
                    padding: 0 20px;
                }
                
                .skill_con {
                    margin: 50px 0;
                    padding: 20px;
                    border-radius: 20px;
                    border: 5px solid cyan;
                }
                
                .skill-name {
                    font-size: 18px;
                    font-weight: 700;
                    text-transform: capitalize;
                    margin: 20px 0;
                    color: white;
                }
                
                .skill-bar {
                    height: 20px;
                    background-color: #cacaca;
                    border-radius: 10px;
                    width: 100%;
                }
                
                .skill_1 {
                    height: 20px;
                    background-color: #0fbcf9;
                    border-radius: 10px;
                    width: 70%;
                    position: relative;
                }
                
                .skill_2 {
                    height: 20px;
                    background-color: #0fbcf9;
                    border-radius: 10px;
                    width: 70%;
                    position: relative;
                }
                
                .skill_3 {
                    height: 20px;
                    background-color: #0fbcf9;
                    border-radius: 10px;
                    width: 20%;
                    position: relative;
                }
                
                .skill_4 {
                    height: 20px;
                    background-color: #0fbcf9;
                    border-radius: 10px;
                    width: 80%;
                    position: relative;
                }
                
                .skill_5 {
                    height: 20px;
                    background-color: #0fbcf9;
                    border-radius: 10px;
                    width: 30%;
                    position: relative;
                }
                
                .skill_6 {
                    height: 20px;
                    background-color: #0fbcf9;
                    border-radius: 10px;
                    width: 40%;
                    position: relative;
                }
                
                .skill-bar p {
                    text-align: center;
                }
                
                .outer {
                    background-color: white;
                    width: 90%;
                    margin: auto;
                    border-radius: 10px;
                }
                
                .inner {
                    border-radius: 20px;
                    margin: auto;
                    width: 80%;
                    display: flex;
                    justify-content: center;
                }
                
                .name {
                    width: 100%;
                }
                
                .name img {
                    height: 300px;
                    width: 300px;
                }
                
                .name .count .input {
                    height: 40px;
                    width: 100%;
                    position: relative;
                    padding-top: 20px;
                }
                
                .name .count .input input {
                    height: 40px;
                    border: none;
                    border-bottom: 2px solid black;
                    outline: none;
                    font-size: 15px;
                }
                
                .name .count .input label {
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                    pointer-events: none;
                    font-size: 15px;
                    transition: 0.3s;
                }
                
                .count .input input:focus~label,
                .count .input input:valid~label {
                    transform: translateY(-23px);
                    color: blue;
                }
                
                .but {
                    display: flex;
                    justify-content: space-around;
                    padding: 20px;
                    margin-left: -100px;
                }
                
                .but input {
                    font-size: 20px;
                    font-family: 'Arial';
                    font-weight: bold;
                    height: 40px;
                    width: 150px;
                    border-radius: 10px;
                    background-color: lime;
                    transition: 0.5s;
                }
                
                .but input:hover {
                    background-color: green;
                    color: white;
                }
                
                form h1 {
                    padding: 30px;
                    margin-left: 110px;
                }
                
                .space {
                    padding: 20px;
                    background-color: #082742;
                }
                
                button {
                    position: relative;
                    height: 50px;
                    width: 200px;
                    border-radius: 10px;
                    color: white;
                    overflow: hidden;
                    background: linear-gradient(90deg, #0162c8, #55e7fc);
                    transition: 0.8s;
                }
                
                table {
                    margin: auto;
                }
                
                table,
                th,
                td {
                    border: 1px solid cyan;
                    padding: 30px 70px;
                    color: white;
                    text-align: center;
                }