* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    text-decoration: none;
    color: white;
}

body {
    margin: 0;
    background-color: #082742;
    position: relative;
}

nav {
    height: 100px;
    width: 80%;
    margin: auto;
}

label.logo {
    font-size: 35px;
    line-height: 80px;
    font-weight: bolder;
    background-color: white;
    border-radius: 10px;
    color: #082742;
    padding: 5px 10px;
    letter-spacing: 2px;
    box-shadow: 0px 10px 30px #242526;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #0f4c81;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        letter-spacing: 2px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #2c3e50;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 20px;
    }
    nav ul li a {
        font-size: 15px;
    }
    a:hover {
        background: none;
        color: #0082e6;
    }
    #check:checked~ul {
        left: 0;
    }
}

a img {
    height: 55px;
    width: 100px;
}

header .nav_links ul li ul {
    position: absolute;
    left: none;
    width: 120px;
    background: lightgrey;
}

.box {
    text-align: center;
}

.group {
    display: inline-block;
    padding: 50px;
}

img {
    height: 200px;
}

p {
    text-align: justify;
    padding: 0px 100px 20px 100px;
}

h2 {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    padding: 40px;
}

.vid {
    text-align: center;
}

.videos {
    display: inline-block;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 80px;
    padding-top: 30px;
}